<h1>Users</h1>
<div>

  <table class="table table-striped table-dark">
    <thead>
    <th scope="row">id</th>
    <th scope="row">name</th>
    <th scope="row">username</th>
    <th scope="row">permissions</th>


    <tr *ngFor="let user of users">
      <td>{{ user.user_id }}</td>

      <td>{{ user.first_name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.permissions }}</td>
    </tr>
    </thead>
  </table>
</div>

<!--<div>-->
<!--  <button *ngIf="canUpdate()">Update</button>-->
<!--</div>-->
